/* changeCircle Style */
#changeCircle {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: auto;
}

.redColor {
    background: #ff3b3f;
}

#changeCircle h2 {
    color: #efefef;
    text-align: center;
    padding-top: 2em;
}
