/* Body Style */
body {
    color: #efefef;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Form */
fieldset {
    border: 0.15em solid #ff3b3f;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #caebf2;
    text-align: center;
}

/* prevents field set from using 100% of container width, must be wrapped in div */
.fieldset-auto-width {
    display: inline-block;
}

legend {
    padding: 0 0.625em 0 0.625em;
    color: #ff3b3f;
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: #a9a9a9;
    padding-bottom: 0.5em;
}

input[type="text"] {
    margin-bottom: 1.5em;
    border-radius: 1em;
    border: none;
    height: 2em;
    width: 25em;
    padding: 0.125em;
    text-align: center;
}

textarea {
    padding: 0.125em;
    border: none;
    width: 25em;
    height: 6.25em;
    margin-bottom: 0.625em;
    border-radius: 1em;
}

input[type="submit"] {
    background-color: #ff3b3f;
    display: block;
    padding: 0.625em;
    border: none;
    margin: auto;
    border-radius: 1em;
    width: 25em;
    color: #efefef;
}
